# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/

# Local/temporary files
friend-repo/
*.db
local_database.db
